.list-complete-events{
	margin-top: 50px;
}

.list-all-events{
	list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
		flex-wrap: wrap;

	.event{
		margin: 15px;
		width: 40%;

		.img{
			img{
				width: 100%;
			}
		}
	}
}

@media(min-width: 500px){
	.list-all-events{
	
		.event{
			margin: 25px;
			width: 15%;
		}
	
	}
}